<!DOCTYPE html>
<html>

<head>

<title>About Project</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container mt-5">

<h1>About Attendance Management System</h1>

<p>

This project helps educational institutions
manage student attendance digitally.

</p>

<h3>Technology Used</h3>

<ul>

<li>Python Flask</li>

<li>HTML</li>

<li>CSS</li>

<li>SQLite</li>

</ul>

<a href="/admin_dashboard">

<button class="btn btn-primary">

Back

</button>

</a>

</div>

</body>

</html>
