<h2>Admin Dashboard</h2>

<h3>Registered Students</h3>
<table border="1">
<tr><th>ID</th><th>Name</th><th>Email</th></tr>

{% for s in students %}
<tr>
    <td>{{ s[0] }}</td>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
</tr>
{% endfor %}
</table>

<h3>Attendance Records</h3>
<table border="1">
<tr><th>Name</th><th>Email</th><th>Date</th><th>Status</th></tr>

{% for a in attendance %}
<tr>
    <td>{{ a[0] }}</td>
    <td>{{ a[1] }}</td>
    <td>{{ a[2] }}</td>
    <td>{{ a[3] }}</td>
</tr>
{% endfor %}
</table>
