<!DOCTYPE html>
<html>

<head>

    <title>Attendance Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="landing-page">

    <div class="overlay">

        <h1>🎓 SJC Institute of Technology</h1>

        <h2>Attendance Management System</h2>

        <p>
            Smart Student Attendance Monitoring System
        </p>

        <a href="/admin_dashboard">

            <button class="start-btn">

                Enter Admin Dashboard

            </button>

        </a>

    </div>

</body>

</html>
